.styled-button{
  background-color: #4CAF50;
  border: none;
  color: white;
  width: min-content;
  aspect-ratio: 1/1;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
